<ActionBar class="action-bar">
        <Label class="action-bar-title" [text]="'Goals: ' + goalCount"></Label>
</ActionBar>
   
<!-- <GridLayout rows="*,*,*,*,*,*,*" columns="auto,*,auto" ><7 players means 7 *'s for equal rows>
        <Button id="p1" text="player 1" row="0" col="0" [class.button-clicked]="buttonClicked" (tap)="playerToggle($event)"></Button>
        <Label class ="julianslabel" text="Pass" row="0" col="1"></Label>
        <<Button text="Player 2" row="1" col="0" [class.button-clicked]="buttonClicked" (tap)="buttonClicked = !buttonClicked"></Button> >
        <Button id="p2" text="Player 2" row="1" col="0" [class.button-clicked]="buttonClicked" (tap)="playerToggle($event)"></Button>
        <Label class ="julianslabel" text="Shot" row="1" col="1"></Label>
        <Label class ="julianslabel" text="Player 3" row="2" col="0"></Label>
        <Label class ="julianslabel" text="Foul" row="2" col="1" ></Label>
        <Label class ="julianslabel" text="Player 4" row="3" col="0"></Label>
        <Label class ="julianslabel" text="Steal" row="3" col="1" ></Label>
        <Label class ="julianslabel" text="Player 5" row="4" col="0"></Label>
        <Label class ="julianslabel" text="Block" row="4" col="1"></Label>
        <Label class ="julianslabel" text="Player 6" row="5" col="0"></Label>
        <Label class ="julianslabel" text="Ejection" row="5" col="1"></Label>
        <Label class ="julianslabel" text="Golie" row="6" col="0"></Label>
        <Label class ="julianslabel" text="Goal" row="6" col="1" (tap)="goalTap($event)"></Label>
</GridLayout> -->

<GridLayout rows="*" columns="*,2*" class="bckgnd">
        <StackLayout col="0" class="bckgnd2"> 
                <ListView [items]="allPlayers">
                        <ng-template let-item="item">
                                <StackLayout [selectedPlayer]="item" id="playericon" (tap)="playerToggle($event)">
                                        <Label [text]="item.cap"></Label>
                                        <Label [text]="item.lastname" style="font-size: 16"></Label>
                                </StackLayout>
                        </ng-template>
                </ListView>
        </StackLayout>
        
        
        <StackLayout col="1" >
                <ListView [items]="actions" class="bckgnd2"><!--put style="height:100%" for entire length-->
                        <ng-template let-item="item" let-i="index">
                                <StackLayout>
                                        <Label class ="julianslabel" [text]="item" *ngIf="item != 'Goal'"></Label>
                                        <Label class ="julianslabel" [text]="item" *ngIf="item == 'Goal'" (tap)="goalTap()"></Label>
                                </StackLayout>
                        </ng-template>
                </ListView>
        </StackLayout>
        
</GridLayout>

<!-- <StackLayout orientation="vertical">
        <Label text="Tap here" (tap)="onTap($event)"></Label>
        
        <Label text="Double tap here" (doubleTap)="onDoubleTap($event)"></Label>
        
        <Label text="Long press here" (longPress)="onLongPress($event)"></Label>
        
        <Label text="Swipe here" (swipe)="onSwipe($event)"></Label>
        
        <Label text="Pan here" (pan)="onPan($event)"></Label>
        
        <Label text="Pinch here" (pinch)="onPinch($event)"></Label>
        
        <Label text="Rotate here" (rotation)="onRotate($event)"></Label>
        
        <Label text="Touch here" (touch)="onTouch($event)"></Label>   
</StackLayout> -->

