
    
<GridLayout rows="*,*,*,*,*,*,*" columns="auto,*,auto" ><!--7 players means 7 *'s for equal rows-->
        <Label text="player 1" row="0" col="0"></Label>
        <Label text="Pass" row="0" col="1"></Label>
        <Label text="Player 2" row="1" col="0"></Label>
        <Label text="Shot" row="1" col="1"></Label>
        <Label text="Player 3" row="2" col="0"></Label>
        <Label text="Foul" row="2" col="1" ></Label>
        <Label text="Player 4" row="3" col="0"></Label>
        <Label text="Steal" row="3" col="1" ></Label>
        <Label text="Player 5" row="4" col="0"></Label>
        <Label text="Block" row="4" col="1"></Label>
        <Label text="Player 6" row="5" col="0"></Label>
        <Label text="Ejection" row="5" col="1"></Label>
        <Label text="Golie" row="6" col="0"></Label>
        <Label text="Goal" row="6" col="1"></Label>
</GridLayout>

<!-- <StackLayout orientation="vertical">
        <Label text="Tap here" (tap)="onTap($event)"></Label>
        
        <Label text="Double tap here" (doubleTap)="onDoubleTap($event)"></Label>
        
        <Label text="Long press here" (longPress)="onLongPress($event)"></Label>
        
        <Label text="Swipe here" (swipe)="onSwipe($event)"></Label>
        
        <Label text="Pan here" (pan)="onPan($event)"></Label>
        
        <Label text="Pinch here" (pinch)="onPinch($event)"></Label>
        
        <Label text="Rotate here" (rotation)="onRotate($event)"></Label>
        
        <Label text="Touch here" (touch)="onTouch($event)"></Label>   
</StackLayout> -->

