<ActionBar class="action-bar">
    <Label class="action-bar-title" text="large black cocks in julians ass"></Label>
</ActionBar>

<StackLayout class="page">
    <!-- Segmented bar lets us switch partail views while staying on the same page-->
    <SegmentedBar [items]="segmentedItems" (selectedIndexChange)="onSelectedIndexChange($event)" class="m-5" ></SegmentedBar>
    <StackLayout height="100%"[visibility]="selectedIndex === 0 ? 'visible' : 'collapsed'" >
        <Label text="Pick Lineup:"></Label>
        <TextField hint="write something... Bitch!!!"></TextField>
        <Label text="Opponent:"></Label>
        <TextField hint="just do it"></TextField>
        <Label text="Date/Time:"></Label>
        <TextField hint="Julian's a bitch"></TextField>
        <Label text="Time/Quarter:"></Label>
        <TextField hint="julian has a vagina"></TextField>
        <Button width="30%" text="Start Game" [nsRouterLink]="['/panComp']"></Button>
        
    </StackLayout>
    
    <StackLayout [visibility]="selectedIndex === 1 ? 'visible' : 'collapsed'">
        <Button id = "addRow" (tap) ="addRowItem($event)" text="add item to row"></Button>
        <ListView [items]="LineupListItems">
            <ng-template let-item="item">
                <StackLayout>
                    <Label (loaded)="onLoaded()" [text] = "'item ' + item"></Label>
                </StackLayout>
            </ng-template>
            <!-- <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center" color="white"></Label> -->
        </ListView>
    </StackLayout>
    
    <StackLayout [visibility]="selectedIndex === 2 ? 'visible' : 'collapsed'">
        <Button id = "addRow" (tap) ="addRowItem($event)" text="add item to row"></Button>
        <StackLayout  id="stackLayoutId" (loaded) = "setRepeater($event)" >
                <Label text="{{ 'Result: ' + prResult}}" textWrap="true"></Label>
            <!-- <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center" color="white"></Label> -->
        </StackLayout>
    </StackLayout>
</StackLayout> 


    <!-- <Label text="Welcome to my app!"></Label>
    <Button text="Go to Page2" [nsRouterLink]="['/page2']"></Button>
    <Label text="You can also tap 'Scoresheet' to go to pan demo"></Label>    
    <GridLayout columns="*,*" rows="*,*" width="300" height="300" backgroundColor="lightgray">
        <Label class="homelabels" text="Team" col="0" row="0" backgroundColor="red"></Label>
        <Label class="homelabels" text="Scoresheet" col="1" row="0" backgroundColor="green" [nsRouterLink]="['/panComp']"></Label>
        <Label class="homelabels" text="Analytics" col="0" row="1" backgroundColor="blue"></Label>
        <Label class="homelabels" text="Anotha 1" col="1" row="1" backgroundColor="yellow" [nsRouterLink]="['/page2']"></Label>
    </GridLayout> -->

