counterwords {
    animation-name: counterspin; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*
idk why but i cant get this css file to work.
so far all working css is in app.css
*/